
<%- include ('partials/_header.ejs') %>
  
<!-- about section -->

<section class="about_section layout_padding" style="height: 100% !important">
  <div class="container">
    <div class="heading_container">
      <h2 style="color: white !important;">
        Hakkımızda
      </h2>
    </div>
    <div class="box layout_padding2-top layout_padding-bottom">
      <div class="detail-box">
        <p style="color: white !important;">
         Kemal Yanmaz - Tansel Berkant Oflaz - Muhammedamin Zakir
        </p>
        <p style="color: white !important;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi consequatur vel accusamus sint temporibus iure praesentium ratione voluptas error illum. Quae blanditiis iste maxime animi! Cupiditate dolorum quo blanditiis deleniti.
        </p>
      </div>
      <!-- <div class="img-box">
        <img src="images/about-img.jpg" alt="" />
      </div>
       -->
    </div>
  </div>
  <div class="btn-box">
    
  </div>
</section>

<!-- end about section -->

<%- include ('partials/_footer.ejs') %>